@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: rgb(44, 44, 44);
    overflow-x: hidden;
    /* background-color: white; */
}
/* give width to each navigation container, logo, link, icons */
.navigation-logo {
    width: 10%;
}
.navigation-icons {
    width: 10%;
}
.navigation-links {
    width: 40%;
}
/* Navigation layout */
.navigation {
    width: 100%;
    height: 10vh; 
    position: fixed;
    top: 0;
    z-index: 9999;
    /* view height - 100vh = 10% */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 44, 44);
}

.navigation-logo img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.navigation-links ul {
    display: flex;
    justify-content: space-between;
}

.navigation-links ul li {
    list-style: none;
}

.navigation-links ul li a {
    font-size: 13px;
    color: white;
    text-decoration: none;
}
.navigation-icons i {
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.hamburger-menu {
    width: 30px;
    height: 20px;
    display: none; 
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    right: 20px;

}
.line {
   width: 100%; 
   height: 4px;
   background-color: white;
   transition: all .3s ease-in;
}

/* Hamburger menu animation */
.line-1-active {
    position: absolute;
    top: 10px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.line-3-active {
    position: absolute;
    top: 10px;
    transform: rotate(-135deg);
    transition: all .3s ease-in;
}
.line-2-active {
    left: 0px;
    opacity: 0;
    left: 40;
    transition: all .3s ease-in;
}



/* --------------- HOME --------------- */
#home {
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(44, 44, 44, 1), rgba(255, 0, 0, 0.514));
    /* background-color: rgb(44, 44, 44); */
}

.home-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
}

.product-img-home img {
    width: 400px;
    height: 400px;
}

.product-info {
    color: white;
    line-height: 20px;
}

.product-info h1 {
    font-size: 85px;
}
.product-info p {
    font-size: 25px;
}

.info-buttons button {
    padding: 10px 25px;
    margin-right: 15px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
}
.info-buttons button:nth-child(2) {
    color: black;
    background-color: white;
}
.info-buttons button:nth-child(1) {
    transition: all 0.3s;
}
.info-buttons button:nth-child(1):hover {
    color: black;
    background-color: white;
}

/* RESPONSIVE WEB DESIGN - RWD */
/* Breakpoints */

@media only screen and (max-width: 600px)  {
    .navigation-links {
        position: absolute;
        right: -700px;
        top: 0;
        width: 80%;
        height: 110vh;
        background-color: rgb(44, 38, 38);
        transition: all ease-in-out .5s;
    }
    .menu-open {
        right: 0;
        transition: all ease-in-out .5s;
    }    
    .navigation-links ul {
        width: 100%;
        height: 70%;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .navigation-links ul li a {
        font-size: 19px;
    }

    .navigation-icons {
        width: 35%;
    }

    .hamburger-menu {
        display: flex;
    }

    #home {
        height: 100vh;
    }
    .product-info h1 {
        font-size: 50px;
    }
    .home-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
    }
    .info-buttons button {
        padding: 5px 10px;
        font-size: 12px;
    }
    .product-img img {
        width: 300px;
        height: 300px;
    }
    .product-info, .product-img {
        margin-bottom: 30px;
        margin-left: 30px;
    }
    
    
}

/* ------------------- PRODUCT ---------------- */
#product {
    width: 100%;
    height: 100vh;
    text-align: center;
}

#product h2 {
    margin-top: 35px;
    color: white;
}
.products-container {
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}

.product-card {
    width: 18%;
    height: 65vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px;
    margin-bottom: 25px;
    border-radius: 17px;
    background: #2c2c2c;
    box-shadow:  16px 16px 32px #252525,
             -16px -16px 32px #333333;
}

.product-img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-img img {
    width: 80%;
}

.product-description {
    text-align: center;
}
.product-description h4, p, h3, i {
    color: white;
}
.product-description p {
    font-weight: 300;
}
.product-description h3 {
    color: orange;
}
.product-review i {
    color: yellow;
}
.product-review i:last-child {
    color: white;
}
.product-button {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px 0px 17px 17px;
    background-color: rgba(255, 0, 0, 0.451);
}
.product-button a {
    width: 100%;
    text-decoration: none;
    color: white;
}





/* Positions */

/* position: static;  */
/* default */
/* top: 20px */
/* top, left, bottom, right, z-index properties have no effect on element*/
/* this positioning is not effected by other positions such as relative and absolute, fixed */

/* position: relative; */
/* relative -> allows to position element relative to its normal position in document flow  */
/* top, left, bottom, right, z-index properties have  effect on element*/
/* this positioning is not effected by other positions such as relative and absolute, fixed */

/* position: absolute; */
/* absolute -> removes element from normal document flow */
/* top, left, rigth, bottom, z-index */

/* position: fixed; */
/* top: 20px; right: px; */

